<li class="pc-item">
  <a href="../dashboard/index.html" class="pc-link">
    <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
    <span class="pc-mtext">Dashboard</span>
  </a>
</li>

<li class="pc-item pc-caption">
  <label>Game</label>
  <i class="ti ti-dashboard"></i>
</li>
<li class="pc-item">
  <a href="../elements/PlayVsIA.html" class="pc-link">
    <span class="pc-micon"><i class="ti ti-pacman"></i></span>
    <span class="pc-mtext">Play vs IA</span>
  </a>
</li>

<li class="pc-item pc-caption">
  <label>Pages</label>
  <i class="ti ti-news"></i>
</li>
<li class="pc-item">
  <a  onclick="window.location.href='../login.html'" class="pc-link">
    <span class="pc-micon"><i class="ti ti-power"></i></span>
    <span class="pc-mtext">Logout</span>
  </a>
</li>

