gymnasium[box2d]
opencv-python
fastapi
aiosqlite
python-multipart
aiohttp
bcrypt
pyjwt
sqlalchemy[asyncio] 
asyncpg

# gunicorn server
gunicorn
uvicorn
uvicorn[standard]
websockets
uvloop