
gymnasium[box2d]
opencv-python
fastapi
aiortc
aiosqlite
python-multipart
aiohttp
av
bcrypt
pyjwt
sqlalchemy[asyncio] 
asyncpg

# gunicorn server
gunicorn
uvicorn
uvicorn[standard]
websockets
uvloop