<!-- [Mobile Media Block] start -->
<div class="me-auto pc-mob-drp">
  <ul class="list-unstyled">
    <!-- ======= Menu collapse Icon ===== -->
    <li class="pc-h-item pc-sidebar-collapse">
      <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
        <i class="ti ti-menu"></i>
      </a>
    </li>
    <li class="pc-h-item pc-sidebar-popup">
      <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
        <i class="ti ti-menu"></i>
      </a>
    </li>
  </ul>
</div>
<!-- [Mobile Media Block end] -->
<div class="ms-auto">
  <ul class="list-unstyled">
    <li class="pc-h-item">
      <a id="theme-toggle" class="pc-head-link arrow-none me-0" href="#" role="button" aria-label="Toggle theme">
        <i class="ti ti-sun"></i>
      </a>
      </div>
    </li>
  </ul>
</div>

<!-- ------------------------------- -->
<!-- Dynamic name from localStorage  -->
<!-- ------------------------------- -->

